<ion-content>
	<ion-header translucent>
		<ion-toolbar>
			<ion-title>כניסה</ion-title>
		</ion-toolbar>
	</ion-header>
	<form (ngSubmit)="login()" [formGroup]="form">
		<ion-list>
			<ion-item>
				<ion-label position="floating" color="primary">אימייל</ion-label>
				<ion-input inputmode="email" formControlName="email"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating" color="primary">סיסמא</ion-label>
				<ion-input type="password" formControlName="password"></ion-input>
			</ion-item>
		</ion-list>
		<div class="ion-padding">
			<ion-button [disabled]="loading || form.invalid" color="primary" type="submit" expand="block">כנס</ion-button>
		</div>
		<div class="login-container__signup">
			<ion-button [disabled]="loading" color="secondary" fill="outline" routerDirection="root" routerLink="../signup">
				אין לי חשבון
			</ion-button>
		</div>
		<div class="login-container__signup">
			<ion-button [disabled]="loading" color="secondary" fill="outline" routerDirection="root" routerLink="../reset">
				שחכתי סיסמא
			</ion-button>
		</div>
	</form>
</ion-content>
