<ion-content color="primary">
	<form class="login-container" (ngSubmit)="login()" [formGroup]="form">
		<ion-input formControlName="email" autocomplete="off" inputmode="email"
							 placeholder="אימייל"></ion-input>
		<ion-input formControlName="password" type="password" autocomplete="off"
							 placeholder="סיסמא"></ion-input>

		<ion-button [disabled]="form.invalid" color="secondary" type="submit">כנס</ion-button>
		<div class="login-container__signup">
			<ion-button [disabled]="loading" type="submit" color="secondary" fill="outline" routerDirection="root" routerLink="../signup">אין לי חשבון</ion-button>
		</div>
	</form>
</ion-content>
