<ion-content color="primary">
	<form class="login-container" (ngSubmit)="login()" [formGroup]="form">
		<ion-input formControlName="email" autocomplete="off" inputmode="email"
							 placeholder="אימייל"></ion-input>
		<ion-input formControlName="password" type="password" autocomplete="off" type="password"
							 placeholder="סיסמא"></ion-input>

		<ion-button color="secondary" type="submit">כנס</ion-button>
		<div class="login-container__signup">
			<h5>
				אין לי חשבון
			</h5>
			<ion-button color="secondary" fill="outline" routerDirection="root" routerLink="../signup">להרשמה</ion-button>
		</div>
	</form>
</ion-content>
