<app-lakim-header title="התורים שלי"></app-lakim-header>

<ion-content>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click)="createAppointment()">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>

	<ion-list>
		<ion-item *ngFor="let appointment of appointments$ | async" (click)="openActions(appointment)">
			<ion-text slot="end">
				{{appointment.date | date:'HH:mm': null: 'he'}}
			</ion-text>
      <ion-label>
        {{appointment.date | date:'EEE dd.MM.yyyy': null: 'he'}}
      </ion-label>
    </ion-item>
	</ion-list>
</ion-content>
