<ion-header>
	<ion-toolbar>
		<ion-title>
			סידור עבודה
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ng-container *ngIf="settings$ | async as settings">
		<ion-list>
			<ion-item>
				<ion-label>אורך תור</ion-label>
				<ion-select [value]="settings.appointmentTime"
										(ionChange)="onAppointmentTimeChanged($event)"
										interface="action-sheet"
										cancelText="בטל"
										placeholder="בחר אורך תור">
					<ion-select-option
									*ngFor="let hour of availableHours"
									[value]="hour">{{hour}}
					</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label>ימי עבודה</ion-label>
				<ion-select [value]="settings.workingDays"
										(ionChange)="onAppointmentDaysChanged($event)"
										interface="action-sheet"
										multiple
										cancelText="בטל"
										okText="שמור"
										placeholder="בחר ימי עבודה">
					<ion-select-option
									*ngFor="let day of availableDays; let i = index"
									[value]="i">{{day}}
					</ion-select-option>
				</ion-select>
			</ion-item>
		</ion-list>
	</ng-container>
</ion-content>
