<ion-content color="primary">
  <form class="login-container" [formGroup]="form" (ngSubmit)="signup()">
    <ion-input inputmode="email" placeholder="אימייל" formControlName="email"></ion-input>
    <ion-input placeholder="שם מלא" formControlName="name"></ion-input>
    <ion-input placeholder="מספר פלאפון" formControlName="phone"></ion-input>
    <ion-input placeholder="סיסמא" type="password" formControlName="password"></ion-input>

    <ion-button color="secondary" type="submit">הירשם</ion-button>

    <div class="login-container__login">
      <h5>
        יש לי חשבון
      </h5>
      <ion-button color="secondary" fill="outline" routerDirection="root" routerLink="../login">לכניסה</ion-button>
    </div>
  </form>
</ion-content>
