.login-container {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	color: white;
	font-weight: 700;

	ion-input {
		flex: 0;
		background: #ef44ff91;
		margin-top: 5px;
		margin-bottom: 5px;
		text-align: center;
	}

	&__login {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 50px;
	}
}
