<ion-content color="primary">
  <div class="login-container">
    <ion-input [clearInput]="true" inputmode="email" placeholder="אימייל"></ion-input>
    <ion-input [clearInput]="true" placeholder="שם מלא"></ion-input>
    <ion-input [clearInput]="true" placeholder="סיסמא"></ion-input>

    <div class="login-container__login">
      <h5>
        יש לי חשבון
      </h5>
      <ion-button color="secondary" fill="outline" routerDirection="root" routerLink="../login">לכניסה</ion-button>
    </div>
  </div>
</ion-content>
