<ion-header>
    <ion-toolbar>
        <ion-title>
            קבע תור
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="close()" color="primary">
                בטל
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ng-container *ngIf="availableAppointments$ | async as appointments">
        <ion-list>
            <ion-item>
                <ion-label>יום</ion-label>
                <ion-select (ionChange)="onDayChanged($event)"
                            cancelText="בטל"
							okText="בחר"
                            placeholder="בחר יום">
                    <ion-select-option
                            *ngFor="let day of appointments.daysInMonth"
                            [value]="day"
                    >
                        {{day | date:'fullDate': null: 'he'}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>שעה</ion-label>
                <ion-select (ionChange)="onHourChanged($event)"
                            cancelText="בטל"
							okText="בחר"
                            placeholder="בחר שעה">
                    <ion-select-option
                            *ngFor="let pair of appointments.availableHours"
                            [value]="pair"
                    >
                        {{pair.hours}}:{{pair.minutes}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </ng-container>
</ion-content>
