<ion-header>
	<ion-toolbar>
		<ion-title>
			קבע תור
		</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="close()" color="primary">
				בטל
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-list [formGroup]="form">
		<ion-item>
			<ion-label>יום</ion-label>
			<ion-select (ionChange)="onDayChanged($event)"
									cancelText="בטל"
									okText="בחר"
									placeholder="בחר יום"
									formControlName="day"
									#daySelect
			>
				<ion-select-option
								*ngFor="let day of availableDates$ | async"
								[value]="day"
				>
					{{day | date:'EEE dd.MM.yyyy': null: 'he'}}
				</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>שעה</ion-label>
			<ion-select (ionChange)="onHourChanged($event)"
									cancelText="בטל"
									okText="בחר"
									placeholder="בחר שעה"
									formControlName="time"
			>
				<ion-select-option
								*ngFor="let pair of hoursForDisplay$ | async"
								[value]="pair"
				>
					{{pair.hours}}:{{pair.minutes}}
				</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-button (click)="onSchedule()" color="primary" expand="full">
			קבע תור
		</ion-button>
	</ion-list>
</ion-content>
