<app-lakim-header title="החלפות תורים"></app-lakim-header>

<ion-content>
	<ion-list>
		<ion-item *ngFor="let swap of swaps$ | async" (click)="openActions(swap)">
			<ion-label>
				<h4>התור שלך:</h4>
				<p>
					{{swap.swapWith.date | date:'EEE dd.MM.yyyy': null: 'he'}}
					<span>
						ב
					</span>
					{{swap.swapWith.date | date:'HH:mm': null: 'he'}}
				</p>
				<h4>להחלפה עם התור:</h4>
				<p>
					{{swap.appointment.date | date:'EEE dd.MM.yyyy': null: 'he'}}
					<span>
						ב
					</span>
					{{swap.appointment.date | date:'HH:mm': null: 'he'}}
				</p>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>
