<app-lakim-header title="יומן"></app-lakim-header>

<ion-content>
	<div class="header-container">
		<ion-button (click)="resetToday()" size="small" fill="clear">היום</ion-button>
		<ion-label class="month-title ion-padding">
			<h2>
				{{title}}
			</h2>
		</ion-label>
	</div>
	<calendar [eventSource]="eventSource$ | async"
						[currentDate]="today"
						[calendarMode]="'month'"
						(onEventSelected)="onEventSelected($event)"
						(onTitleChanged)="onTitleChanged($event)"
						(onCurrentDateChanged)="onCurrentDateChanged($event)"
						locale="he"
						dir="rtl"
	>
	</calendar>

</ion-content>
