<ion-header>
	<ion-toolbar>
		<ion-title>
			יומן
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="header-container">
		<ion-button (click)="setToday()" size="small" fill="clear">היום</ion-button>
		<ion-label class="month-title ion-padding">
			<h2>
				{{title}}
			</h2>
		</ion-label>
	</div>
	<calendar [eventSource]="eventSource"
						[currentDate]="today"
						[calendarMode]="'month'"
						(onTimeSelected)="onTimeChanged($event)"
						(onEventSelected)="onEventSelected($event)"
						(onTitleChanged)="onTitleChanged($event)"
						locale="he"
						dir="rtl">
	</calendar>

</ion-content>
